.user-detail-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    top: -400px;
    height: 700px;
    width: 150%; /* Réduire la largeur pour centrer */
    margin: 40px auto; /* Centrer horizontalement */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden; /* S'assurer que le contenu ne déborde pas */
    
}

.bordure {
    border: 2px solid #ff9800; /* Bordure orange */
    height: 500px;
}

.user-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2e7d32; /* Fond vert */
    padding: 15px 20px;
    border-radius: 8px;
    color: white;
    font-size: 1.5em;
    margin-bottom: 20px;
}
.user-details{
    margin-left: 40px;
}

.user-icon,
.header-icon,
.action-icon {
    width: 80px;
    height: 100px;
    margin-right: 20px;
}

.actions-recents {
    margin-top: 20px;
}

.recent-actions {
    display: flex;
    justify-content: center; /* Centre les cartes */
    gap: 20px; /* Ajoute un espace entre les cartes */
    flex-wrap: wrap; /* Permet de passer à la ligne si nécessaire */
}

.action-card {
    background-color: #2e7d32;
    color: white;
    padding: 10px; /* Réduire le padding pour diminuer la taille des cartes */
    border-radius: 8px;
    text-align: center;
    flex: 1 1 200px; /* Réduit la taille minimale de chaque carte et leur permet de s'étendre */
    max-width: 250px; /* Limite la largeur des cartes */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 200px;
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.action-card.orange {
    background-color: #ff9800;
}
.profile-icon {
    font-size: 50px;; /* Taille de l'icône */
    
    margin-right: 15px; /* Espace entre l'icône et le texte */
}

.action-card.green {
    background-color: #2e7d32;
}

.action-card img {
    margin-bottom: 10px;
    max-width: 50px; /* Réduit la taille des images */
    height: auto;
}
.user-info {
    display: flex;
    align-items: center; /* Assure que l'icône et le texte sont alignés verticalement */
    margin-bottom: 20px;
    padding-top: 20px;
    margin-left: 40px;
}
.profile-icon {
    font-size: 2.5em; /* Taille de l'icône */
    color: orange;
    margin-right: 15px; /* Espace entre l'icône et le texte */
}

.user-details h2 {
    margin: 0;
    font-size: 1.5em;
}
.action-card img {
    width: 200px !important; /* Augmentez la largeur de l'image */
    height: 200px !important; /* Augmentez la hauteur de l'image */
    margin-bottom: 5px !important;
}


.action-card.orange img {
    width: 500px; /* Ajustez selon la taille désirée */
    height: 100px;
}

.action-card.green img {
    width: 150px; /* Ajustez selon la taille désirée */
    height: 100px;
}