.card {
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    flex: 0 0 auto; /* Ne pas étendre pour remplir la hauteur */
    margin: 0 10px;
  }
  
  .card-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .icon-container {
    flex: 0 0 auto;
    margin-right: 20px; /* Ajuster l'espacement entre l'icône et le texte */
  }
  
  .text-container {
    flex: 1;
  }
  
  .card.orange {
    background-color: orange;
  }
  
  .card.green {
    background-color: green;
  }
  
  .card.black {
    background-color: white;
    color: black;
  }
  
  .card.blue {
    background-color: blue;
    color: white;
  }
  